@{
    ViewBag.Title = "Yhteystiedot";
    ViewBag.Keksinto = "Keksin uuden jutun";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Mannerheimintie 2<br />
    Helsinki, 14300<br />
    <abbr title="Phone">Puh:</abbr>
    045-654778
</address>
<h5>@ViewBag.Keksinto</h5>
<address>
    <strong>Tuki:</strong>   <a href="tuki.northwind@outlook.com">Support@example.com</a><br />
    <strong>Myynti:</strong> <a href="myynti.northwind@outlook.com">Marketing@example.com</a>
</address>